@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --right-arrow-card: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%2025%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20stroke%3D%22%231264A3%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%3E%3Cpath%20d%3D%22M1.548%207h21.904%22%2F%3E%3Cpath%20stroke-linejoin%3D%22round%22%20d%3D%22M17%201l7%206-7%206%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
  --right-arrow-feature: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%206a.5.5%200%200%200%200%201V6zM12.854.646a.5.5%200%200%200-.708.708l.708-.708zM18%206.5l.354.354a.5.5%200%200%200%200-.708L18%206.5zm-5.854%205.146a.5.5%200%200%200%20.708.708l-.708-.708zM1%207h16.5V6H1v1zm16.646-.854l-5.5%205.5.708.708%205.5-5.5-.708-.708zm-5.5-4.792l2.75%202.75.708-.708-2.75-2.75-.708.708zm2.75%202.75l2.75%202.75.708-.708-2.75-2.75-.708.708z%22%20fill%3D%22%231264A3%22%2F%3E%3C%2Fsvg%3E);
  --nav-icon: url(navIcon.svg);
}

/* custom slide animation for navbar */
@keyframes slide-in--down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-out--up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-110%);
  }
}

body {
  margin: 0;
  font-family: Slack-Larsseit, 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7fa;

}

h1{
  margin: .67em 0;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -.8px;
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -.8px;
  margin-bottom: 1rem;
}

.is-fixed {
  position: fixed;
  left: 7%;
  border-bottom: none;
  animation: slide-in--down 420ms cubic-bezier(.165,.84,.44,1);
  border-radius: 50px;
  margin-top: .5rem;
  padding: 0 2.225rem;
  max-width: 81.25rem;
  background-color: white;
  box-shadow: 0 4px 40px rgba(0, 0, 0, .08);
}

.dismiss-nav {
  animation: slide-out--up 420ms cubic-bezier(.165,.84,.44,1);
}

.nav_label {
  position: relative;
  padding-right: 1rem;
}

.nav_label::after {
  content: '';
  display: block;
  position: absolute;
  top: 45%;
  right: 5%;
  width: 8px;
  height: 5px;
  background-size: 8px 5px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-image: var(--nav-icon);
  box-sizing: inherit;
  /* transition: transform .1s cubic-bezier(.165,.84,.44,1); */
}

.nav-buttons{
  display: inline-block;
  box-sizing: border-box;
  height: 45px;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.2857;
  letter-spacing: .8px;
  margin-left: 1.25rem;
  padding: .75rem 1rem;
  border-radius: 4px;
  transition: all 420ms;
  box-shadow: inset 0 0 0 1px rgba(107, 33, 168);
  cursor: pointer;
}

.nav-buttons:hover {
  box-shadow: inset 0 0 0 2px rgba(107, 33, 168);
}

.landing-bg {
  height: 100%;
  background: linear-gradient(white 65%, #f4ede4 0);
}

.feature-link {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: rgb(7 89 133);
}

.feature-link::after {
  background-image: var(--right-arrow-feature);
  content: '';
  width: 19px;
  height: 13px;
  display: inline-block;
  margin-left: .5em;
}


.buttons {
  display: inline-block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.2857;
  letter-spacing: .8px;
  text-align: center;
  padding: 19px 40px 20px;
  border-radius: 4px;
  transition: all 420ms;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgba(107, 33, 168);
}

.buttons:hover {
  box-shadow: inset 0 0 0 3px rgba(107, 33, 168);
}
.buttons-alt {
  display: inline-block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.2857;
  letter-spacing: .8px;
  text-align: center;
  padding: 19px 40px 20px;
  border-radius: 4px;
  transition: all 420ms;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
}

.buttons-alt:hover {
  box-shadow: inset 0 0 0 3px rgb(255, 255, 255);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.header-items{
  padding: .25rem .75rem;
  font-size: .9375rem;
  font-weight: 700;
}

.curve-video-right {
  border-radius: 0 250px 250px 0;
}

.curve-video-left {
  border-radius: 250px 0 0 250px;
}


.stat-text {
  margin: 0;
  font-weight: 400;
  font-size: .875rem;
}

.background-curve {
  clip-path: ellipse(75% 100% at center top);
}

.link-card {
  display: flex;
  padding: 0.75rem;
  background-color: #fff;
  width: 100%;
  min-height: 420px;
  flex-direction: column;
  border-bottom: none;
  max-width: 285px;
  position: relative;
  z-index: 1;
  transition: transform 420ms cubic-bezier(.165,.84,.44,1);
}

.link-card:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  transform: scale(1.05);
}

.link-card::after{
  content: '';
  width: 25px;
  height: 14px;
  position: absolute;
  bottom: 18px;
  right: 15px;
  background-image:var(--right-arrow-card)
}

.link-card-headers{
  max-height: 349px;
  line-height: 30px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 8px 0 16px;
}
.link-card-subheadings{
  display: inline-block;
  font-size: .875rem;
  margin: 8px 0 0;
  color: #454245;
}

.listitem-social{
  padding-left: 1.5rem;
}

.expanded-footer{
  display: grid;
  margin: 0;
  grid-template-columns: 11rem 11rem 11rem 11rem 11rem;
  grid-template-rows: 1fr 1fr;
  column-gap: 1.75rem;
  row-gap: 2rem;
  grid-template-areas: 
  'one three four five six' 
  'two three four five six';
}

.footer-link {
  color: #696969;
  padding: .375rem 0;
}

.footer-link :hover {
  color: blue;
}


.nav_parent_l1:nth-of-type(1) {
  grid-area: one;
}
.nav_parent_l1:nth-of-type(2) {
  grid-area: two;
}
.nav_parent_l1:nth-of-type(3) {
  grid-area: three;
}
.nav_parent_l1:nth-of-type(4) {
  grid-area: four;
}
.nav_parent_l1:nth-of-type(5) {
  grid-area: five;
}
.nav_parent_l1:nth-of-type(6) {
  grid-area: six;
}

